# NASA Mars News

In [3]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
import pandas as pd
from splinter import Browser
import time
import urllib.request as request

In [4]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [5]:
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [6]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [7]:
# scrape the article title
news_title = soup.find("div", class_="content_title").text
    
# scrape the article paragraph text
news_p = soup.find("div", class_="article_teaser_body").text
    
    
# print article data
print('-----------------')
print(news_title)
print(news_p)

-----------------
NASA's Mars 2020 Heads Into the Test Chamber
In this time-lapse video taken at JPL, engineers move the Mars 2020 rover into a large vacuum chamber for testing in Mars-like environmental conditions.

# JPL Mars Space Images-Featured Image

In [35]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [36]:
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [37]:
url_2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url_2)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [44]:
# result = soup.find_all("div", class_="fancybox-inner fancybox-skin fancybox-dark-skin fancybox-dark-skin-open")
# result = soup.find_all("li", class_="fancybox-thumb-active")

image = soup.find("img", class_="thumb")["src"]

In [45]:
# relative_image_path = soup.find_all('img')[1]["src"]
image_url = 'https://www.jpl.nasa.gov/'+ image
featured_image_url = image_url
featured_image_url

'https://www.jpl.nasa.gov//spaceimages/images/wallpaper/PIA23539-640x350.jpg'

# Mars Weather

In [46]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [47]:
executable_path = {"executable_path": "/usr/local/bin/chromedriver"}
browser = Browser("chrome", **executable_path, headless=False)

In [48]:
# URL of page to be scraped
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'lxml')

In [49]:
# Retrieve the parent divs for all articles
results = soup.find_all("div", class_="js-tweet-text-container")


# loop over results to get article data
for result in results:
    # scrape the article title
    weather = result.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

    
    # print article data
    print('-----------------')
    print(weather)

-----------------
InSight sol 336 (2019-11-06) low -101.4ºC (-150.6ºF) high -24.0ºC (-11.2ºF)
winds from the SSE at 4.7 m/s (10.6 mph) gusting to 18.7 m/s (41.9 mph)
pressure at 6.90 hPapic.twitter.com/RIAb2fzSY4
-----------------
InSight sol 335 (2019-11-05) low -100.6ºC (-149.1ºF) high -24.3ºC (-11.8ºF)
winds from the SSE at 4.9 m/s (10.9 mph) gusting to 19.9 m/s (44.5 mph)
pressure at 6.90 hPa
-----------------
InSight sol 334 (2019-11-04) low -100.0ºC (-148.1ºF) high -23.8ºC (-10.8ºF)
winds from the SSW at 5.1 m/s (11.4 mph) gusting to 19.9 m/s (44.4 mph)
pressure at 7.00 hPapic.twitter.com/D4EX1MROay
-----------------
InSight sol 333 (2019-11-03) low -100.8ºC (-149.4ºF) high -25.8ºC (-14.4ºF)
winds from the SSW at 4.9 m/s (11.0 mph) gusting to 18.0 m/s (40.4 mph)
pressure at 6.90 hPa
-----------------
InSight sol 332 (2019-11-02) low -99.8ºC (-147.7ºF) high -25.2ºC (-13.3ºF)
winds from the SSW at 4.1 m/s (9.2 mph) gusting to 18.7 m/s (41.9 mph)
pressure at 6.90 hPa
-----------------
InSight sol 331 (2019-11-01) low -100.9ºC (-149.6ºF) high -24.6ºC (-12.3ºF)
winds from the SSE at 5.2 m/s (11.6 mph) gusting to 18.5 m/s (41.4 mph)
pressure at 7.00 hPapic.twitter.com/jicxvaUZh1
-----------------
InSight sol 330 (2019-10-31) low -101.8ºC (-151.3ºF) high -24.8ºC (-12.6ºF)
winds from the SSE at 5.4 m/s (12.2 mph) gusting to 20.8 m/s (46.5 mph)
pressure at 7.00 hPapic.twitter.com/nMo54muCBo
-----------------
InSight sol 329 (2019-10-30) low -101.5ºC (-150.7ºF) high -25.0ºC (-13.0ºF)
winds from the SSE at 5.2 m/s (11.6 mph) gusting to 19.2 m/s (42.8 mph)
pressure at 7.00 hPapic.twitter.com/LqWHBwF74A
-----------------
InSight sol 328 (2019-10-29) low -102.3ºC (-152.2ºF) high -25.2ºC (-13.3ºF)
winds from the SSE at 4.9 m/s (10.9 mph) gusting to 18.3 m/s (40.9 mph)
pressure at 7.00 hPa
-----------------
InSight sol 327 (2019-10-28) low -102.6ºC (-152.7ºF) high -25.3ºC (-13.5ºF)
winds from the SSE at 5.6 m/s (12.5 mph) gusting to 19.6 m/s (43.8 mph)
pressure at 7.00 hPapic.twitter.com/B3xpG54HEx
-----------------
InSight sol 326 (2019-10-27) low -101.4ºC (-150.5ºF) high -23.7ºC (-10.7ºF)
winds from the SSE at 5.2 m/s (11.5 mph) gusting to 18.2 m/s (40.8 mph)
pressure at 7.00 hPapic.twitter.com/zSxE0oiy1D
-----------------
You gotta keep ‘em separated

Engineers and technicians working on the #Mars2020 spacecraft look on as a crane lifts the rocket-powered descent stage away from the rover after a test: https://go.nasa.gov/2IpH4I3 pic.twitter.com/tBLCWS0b5q
-----------------
InSight sol 325 (2019-10-26) low -102.0ºC (-151.7ºF) high -24.0ºC (-11.2ºF)
winds from the SSE at 4.9 m/s (11.0 mph) gusting to 19.1 m/s (42.7 mph)
pressure at 7.00 hPapic.twitter.com/P20JfRjcVi
-----------------
InSight sol 324 (2019-10-25) low -102.4ºC (-152.3ºF) high -24.8ºC (-12.6ºF)
winds from the SSE at 5.4 m/s (12.0 mph) gusting to 18.1 m/s (40.5 mph)
pressure at 7.00 hPapic.twitter.com/goHqhpyD8O
-----------------
InSight sol 322 (2019-10-23) pressure at 7.00 hPa
-----------------
InSight sol 321 (2019-10-22) low -102.9ºC (-153.2ºF) high -24.6ºC (-12.3ºF)
winds from the SSE at 4.8 m/s (10.8 mph) gusting to 18.6 m/s (41.6 mph)
pressure at 7.10 hPapic.twitter.com/FsE4d1Fskt
-----------------
InSight sol 320 (2019-10-21) low -102.4ºC (-152.3ºF) high -25.6ºC (-14.0ºF)
winds from the SSE at 4.7 m/s (10.5 mph) gusting to 18.5 m/s (41.4 mph)
pressure at 7.10 hPapic.twitter.com/TxQmtXP7xo
-----------------
InSight sol 319 (2019-10-19) low -101.5ºC (-150.7ºF) high -25.5ºC (-13.9ºF)
winds from the SSE at 4.6 m/s (10.4 mph) gusting to 18.4 m/s (41.2 mph)
pressure at 7.10 hPapic.twitter.com/gdBUdujdVM
-----------------
InSight sol 318 (2019-10-18) low -102.6ºC (-152.6ºF) high -24.6ºC (-12.4ºF)
pressure at 7.10 hPa
-----------------
InSight sol 317 (2019-10-18) low -103.2ºC (-153.8ºF) high -26.2ºC (-15.2ºF)
winds from the SSE at 5.6 m/s (12.5 mph) gusting to 22.2 m/s (49.7 mph)
pressure at 7.10 hPapic.twitter.com/LNDEvGwVDw

In [50]:
mars_weather = soup.body.find_all('p')[5].text
mars_weather

'InSight sol 336 (2019-11-06) low -101.4ºC (-150.6ºF) high -24.0ºC (-11.2ºF)\nwinds from the SSE at 4.7 m/s (10.6 mph) gusting to 18.7 m/s (41.9 mph)\npressure at 6.90 hPapic.twitter.com/RIAb2fzSY4'

# Mars Facts

In [51]:
import requests
import lxml.html as lh
import pandas as pd

In [52]:
url = 'https://space-facts.com/mars/'

In [53]:
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [54]:
df = tables[0]
df.columns = ['Description', 'Value']
df

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [55]:
df.set_index("Description", inplace = True)
df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [56]:
html_table=df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Value</th>\n    </tr>\n    <tr>\n      <th>Description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [57]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Value</th>    </tr>    <tr>      <th>Description</th>      <th></th>    </tr>  </thead>  <tbody>    <tr>      <th>Equatorial Diameter:</th>      <td>6,792 km</td>    </tr>    <tr>      <th>Polar Diameter:</th>      <td>6,752 km</td>    </tr>    <tr>      <th>Mass:</th>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>Moons:</th>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>Orbit Distance:</th>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>Orbit Period:</th>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>Surface Temperature:</th>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>First Record:</th>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>Recorded By:</th>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [58]:
df.to_html('table.html')

In [59]:
!open table.html

# Mars Hemispheres

In [60]:
hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg"},
    {"title": "Cerberus Hemisphere", "img_url": "/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg"},
    {"title": "Schiaparelli Hemisphere", "img_url": "/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg"},
    {"title": "Syrtis Major Hemisphere", "img_url": "/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg"},
]
hemisphere_image_urls

[{'title': 'Valles Marineris Hemisphere',
  'img_url': '/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg'},
 {'title': 'Cerberus Hemisphere',
  'img_url': '/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere',
  'img_url': '/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere',
  'img_url': '/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg'}]

In [61]:
!jupyter nbconvert --to script Mission_to_Mars.ipynb

[NbConvertApp] Converting notebook Mission_to_Mars.ipynb to script
[NbConvertApp] Writing 4149 bytes to Mission_to_Mars.py